.corpus_add_size_table, .profile_add_colorType_table, .corner_add_size_table {
	border: 1px solid black;
}

.corpus_add_size_table td, .profile_add_colorType_table td, .corner_add_size_table td {
	border: 1px solid black;
	text-align: center;
}

.corpus_add_size_table .first_cell, .profile_add_colorType_table .first_cell, .corner_add_size_table .first_cell {
	width: 150px;
}

.profile_delete_color, .profile_delete_type, .frame_delete_doorFrame, .imageGallery_delete_category, .button_city_delete {
	cursor: pointer;
}

.alert {
	border: 1px solid red !important;
}

h3 {
	color: red;
}

.list_table {
	border: 1px solid black;
}

.right {
	float: right;
}

.left {
	float: left;
}

.list_form img, .add_form img {
	max-width: 300px;
}

.list_form .button, .add_form .button {
	margin-bottom: 20px;
}

.base_form .button {
	margin-top: 20px;
}
.base_form .button_city_add {
	margin-top: 0px;
	float:right;
}

/* Collapse Forms */
.list_form .list_table tbody > tr + tr {
    display:none;
}

.list_form .list_table.visible tbody > tr + tr {
    display:table-row;
}

/* Frames */

.frame_add_div {
	text-align: center
}

.frame_param {
	clear: right;
	margin-top: 5px;
}

.frame_add_list {
	vertical-align: top;
}

.frame_div {
	background-color: aqua;
	width: 100%;
	height: 20%;
	left: 0;
	top: 0;
	position: absolute !important;
}

.frame_add_area {
	width: 80px;
	height: 230px;
	background-color: #fff;
	border: 1px solid black;
	position: relative;
}

/*Gallery*/
.subcategory_imageGallery {
	margin-left: 232px;
}

.subsubcategory_imageGallery {
	margin-left: 312px;
}

.upload-and-attach-link{
	text-decoration: none;
}