.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

/*Clearfix*/

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

.active {
	/*border:2px solid #FFE400;*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#cupboard_calc_sizes {
	display: none;
}

/* Cost */

#cupboard_calc_page {
	position: relative;
}


/*Cupboard-sizes*/

.cupboard_page_range, .cupboard_page_corners_range {
	padding: 0;
}

.cupboard_page_sizes_labels, .cupboard_page_sizes_spans {
	padding-right: 20px;
}

/*Cupboard-corpuses*/
#corpus, .cupboard_page_doors {
	display: none;
}

.cupboard_page_corpuses, .cupboard_page_doors {
	border: 1px solid black;
	/*display: none;*/
	margin-top: 20px;
	overflow-y: scroll;
	max-height: 400px;
}

.corpus_div {
	width: 19%;
	margin: 0px;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	text-align: center;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #ffffff;
	padding: 30px;
}
.corpus_div:hover {
	cursor: pointer;
	border: 2px solid #d1d1d1;
}

.corpus_div.active {
	border:2px solid #FFE400;
}

.corpus_image {
	max-width: 120px;
	max-height: 120px;
}

.corpus_div p.corpus_name {
	margin: 0;
	font-size: 12px;
	padding: 5px 0px;
}

.cupboard_page_doors {
	border: none;
}

.cupboard_page_doors h3 {
	margin: 0;
	margin-left: 20px;
}

.cupboard_page_doors_radio {
	margin-left: 20px;
	margin-top: 2px;
}

/*Cupboard-corners*/

.cupboard_page_corners {
	margin-left: 20px;
	display: none;
}

.cupboard_page_corners h3 {
	margin: 0;
}

.cupboard_page_corners > label input {
	margin-left: 20px;
	margin-top: 6px;
	width: 16px;
	height: 16px;
}

.cupboard_page_corners > label p {
	margin: 2px 0 0 10px;
}

.cupboard_page_corners_choose {
	border: 1px solid black;
	padding: 20px;
	display: none;
}

.cupboard_page_corners_chosen {
	width: 80%;
	margin-left: 20px;
	display: none
}

.cupboard_page_corners_chosen label {
	display: none;
}

.cupboard_page_corners_label {
	width: 85px;
}

.cupboard_page_corners_label > input:checked {
	margin-top: 50px;
}

.cupboard_page_corners_images {
	width: 100%;
	height: 120px;
	border: 1px solid black;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.corner_div {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.corner_image {
	height: 120px;
}

.cupboard_page_corners_right {
	margin-top: 10px;
}

.cupboard_page_corners_left img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#cupboard_calc_page select {
    padding: 10px;
}

/*Cupboard-additional*/

.cupboard_page_additional {
	/*margin-left: 20px;*/
	display: none;
}

.cupboard_page_additional .ml-calc-sign {
    padding-right: 10px;
}

.cupboard_page_additional h3 {
	margin: 0;
}

.cupboard_page_additional > label input {
	margin-top: 6px;
	width: 16px;
	height: 16px;
}

.cupboard_page_additional > label p {;
	margin: 2px 0 0 10px;
}

.cupboard_page_additional_choose {
	border: 1px solid black;
	padding: 20px;
	display: none;
}

.cupboard_page_additional_chosen {
	width: 80%;
	margin-left: 20px;
	display: none
}

.cupboard_page_additional_chosen label {
	display: none;
}

.cupboard_page_additional_label {
	width: 85px;
}

.cupboard_page_additional_label > input:checked {
	margin-top: 50px;
}

.cupboard_page_additional_images {
	width: 100%;
//height: 8px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.additional_div {
	display: inline-block;
	min-width:120px;
	margin-right: 10px;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	border: 2px solid #fff;
}

.additional_div.active {
	border:none;
	position: relative;
}

.additional_image {
	max-height: 150px;
}

div.additional_div .additional_image {
	height: 147px;
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
	width: 150px;
}

.container-content p {
	white-space: normal;
}

p.additional_name {
	padding: 10px 15px 30px 15px;
}

.additional_amount_div {
	display: none;
}

div.cupboard_page_laminates {
	padding-right: 20px;
}
.additional_amount_div div {
	font-weight: normal;
	padding: 12px 0px 5px 0px;
}


.additional_amount {
	margin: auto;
	max-width: 30px;
}
.ml-grandis1 {
	position: relative;
}
.ml-grandis1 label {
	font-size: 14px;
	color: #2e2e2e;
	padding: 0px;
	border: 2px solid transparent;
	font-weight: normal;
	cursor: pointer;
	margin: 0px;
	width: 100%;
	padding-left: 5px;
	line-height: 22px;
}
ul.profileColorList {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.cupboard_page_laminate .ml-calc-sign, .cupboard_page_profile .ml-calc-sign,
.cupboard_page_frame .ml-calc-sign, .cupboard_page_image .ml-calc-sign {
	font-size: 18px;
	display: inline-block;
	font-weight: bold;
	padding-right: 20px;
	width: auto;
	float: none;
}
.cupboard_page_image .ml-calc-sign {
	width: 100%;
	text-align: left;
}
.cupboard_page_additional_list {
	width: 100%;
}
#carus3.scroll-img ul li.active {
	border: 2px solid #FFE400;
}
#carus3.scroll-img ul li {
	width: 150px;
	height: 305px;
	border: none;
}
.scroll-img ul li.active .hover-block, .scroll-img ul li.active .hover-block:hover  {
	border: none;
}
div.cupboard_page_additional_choose {
	padding-top: 0;
}
.hover-block {
	border: 2px solid #fff;
	height: 245px;
}
.cupboard_page_additional_list {
	position: relative;
}
.scroll-img ul {
	width: auto;
}
.scroll-img ul li {
	border: 2px solid #fff;
	vertical-align: top;
}
.hover-block:hover {
	border: 2px solid #FFE400;
}

.block-check label {
	font-weight: 400;
}

.ml-grandis1:hover {
	border: 2px solid #d1d1d1;
}

.additional_image .addt-img {
	width: 100%;
}

.ml-grandis1 label input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	z-index: -1;
}

.active .additional_amount_div {
	display: inline-block;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding: 10px 0px 5px 0px;
}

.active .additional_amount_div label {
	font-weight: 400;
}

.cupboard_page_additional_images .additional_name {
	margin-bottom: 0px;
}

@media screen and (max-width: 769px) {
    .cupboard_page_additional .block-check {
        min-height: 290px;
    }
}

/*Cupboard-laminate*/

.cupboard_page_laminate {
	display: none;
	padding-right: 20px;
}

.cupboard_page_laminates{
	border: 1px solid black;
	display: none;
	margin-top: 20px;
	overflow-y: scroll;
	max-height: 365px;
}

.cupboard_page_corners_label {
	cursor: pointer;
}

.laminate_div {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding:20px;
	text-align: center;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:2px solid #fff;
}
.laminate_div:hover {
	border:2px solid #ffe400;
	cursor: pointer;
}
.laminate_div.active {
	border:2px solid #ffe400;
}
.laminate_image {
	width: 100%;
	height: auto;
}

/*Cupboard-profile*/

.cupboard_page_profile {
	display: none;
}

.profile_color, .profile_handler {
	margin-top: 10px;
	width: 100%;
	height: 270px;
	overflow: hidden;
	white-space: nowrap;
}

.profile_handler {
	overflow-y: hidden;
	white-space: normal;
}

.profile_handler label {
	padding: 20px;
	border: 2px solid #fff;
}
.profile_handler label:hover {
	border: 2px solid #ffe400;
}

.profile_handler input {
	width: auto;
}

#carus5.scroll-img ul li img {
	width: 100%;
	max-height: 129px;
}

.profile_color img {
	cursor: pointer;
}

.profile_color p, .profile_handler p, .profile_handler input {
	margin-left:10px;
}

.cupboard_page_corners_images {
	width: 100%;
	height: 120px;
	border: 1px solid black;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.profile_color_div {
	display: inline-block;
	text-align: center;
}

.profile_color img {

}

.profile_type {
	display: inline-block;
	width: 100%;
	border: 2px solid #fff;
}

.profile_type.active, li.profile_color_div:hover, li.profile_color_div.active {
	border: 2px solid #FFE400;
}

#carus4 li {
	display: inline-block;
	border: 2px solid #fff;
}
#carus4 li.active {
	border: 2px solid #FFE400;
}
#carus4 li.active label:hover {
	border-color: #fff;
}

#carus5.scroll-img ul li {
	width: 160px;
	margin:0px;
}
div.profile_color .profile_color_name {
	padding: 20px;
}

.profile_handler_div {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}

.profile_handler_div img {
	max-width: 120px;
	width: 100%;
	height: auto;
	cursor: pointer;
	border: 2px solid #fff;
}
.profile_handler_div span {
	font-size: 14px;
	color: #2e2e2e;
	text-align: left;
	padding-top: 10px;
	margin: 0;
	font-weight: 400;
}

/*Cupboard-frame*/

.cupboard_page_frame {
	display: none;
	clear: both;
}

.frame_area {
	border: 1px solid black;
	margin: 10px 0 10px 15px;
	position: relative;
	width: 80px;
}

.frame_list .frame_area p {
	margin-top: 230px;
	text-align: center !important;
}

.cupboard_page_frame_list {
	position: relative;
}

.frame_list {
	padding: 10px 0;
}

.frame_div {
	position: absolute;
	cursor: pointer;

}


.doors_div .frame_div {
	/*border:1px solid black;*/
}

.frame_div .frame_number {
	position: absolute;
	bottom: 5px;
	left: 5px;
	display: block;
	padding:2px;
	background-color: #fff;
	border: 1px solid black;
	font-size: 35px;
}

.delete_door_frame {
	z-index: 1;
	position: absolute;
	font-size: 14px;
	top: -40px;
	right: 0px;
	cursor: pointer;
	color: #000;
	text-decoration: none;
	border-bottom: 1px dashed #727272;
	color: #727272;
	text-decoration: none !important;
}

.delete_door_frame:hover {
	color: #23527c;
}

.frame_div .frame_status {
	position: absolute;
	color: white;
	left: 5px;
	display: none;
	font-size: 20px;
	-moz-text-shadow: 1px 1px 5px black;
	-webkit-text-shadow: 1px 1px 5px black;
	text-shadow: 1px 1px 5px black;
}

.cupboard_model .frame_div .frame_status {
	display: block;
}

.cupboard_model .frame_div .frame_status:after {
	content: "+";
	display: block;
}

.cupboard_model .frame_div.active_frame .frame_status:after {
	content: "-";
}

.cupboard_model .frame_div .frame_status.empty_frame {
	position: absolute;
	color: white;
	left: auto;
	right: 5px;
	top: 0px;
}

.cupboard_model .frame_div .frame_status.empty_frame:after {
	content: "x";
	display: block;
}

/*Cupboard-image*/



.cupboard_page_image {
	display: none;
}

#frame_image_submit {
	display: none;
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 30;
	border: none;
	width: 100%;
	padding: 20px;
}

.cupboard_page_image p {
	text-align: center;
}

.cupboard_model {
	text-align: center;
	position: relative;
	padding-top: 50px;
}

.doors_div {
	border: 1px solid black;
	height: 230px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.doors_div p {
	display:none;
}

.doors_div .frame_div:hover {
	cursor: pointer;
	opacity: 0.5;
}

.doors_div .active_frame {
	border: 3px dashed green;
	-moz-box-sizing: border-box; /* Для Firefox */
	box-sizing: border-box; /* Ширина блока с полями */
	opacity: 0.6;
}

.subcategory_imageGallery {
	margin-left: 20px;
}

.subsubcategory_imageGallery {
	margin-left: 40px;
}

.image_categories {
	border: 1px solid black;
	width: 27%;
	height: 375px;
	margin: 20px 0;
	overflow-y: scroll;
}

.image_categories a {
	cursor: pointer;
	color: #000;
}

.image_categories a:hover {
	color: #777;
	text-decoration: underline;
}

.image_categories a.active_image_category {
	text-decoration: underline;
}

.image_categories ul {
	list-style-type: none;
}

.load_images {
	border: 1px solid black;
	width: 70%;
	overflow-y: scroll;
	height: 375px;
	margin: 20px 0px 20px 10px;
}

.load_images .image_div {
	display: inline-block;
	border: 1px solid black;
	vertical-align: top;
	width: 120px;
	/* height: 120px; */
	max-height: 170px;
	text-align: center;
	margin: 5px;
}

.load_images img {
	max-width: 120px;
	max-height: 120px;
}

.subcategory_imageGallery, .subsubcategory_imageGallery {
	display: none;
}

#TB_ajaxContent {
	overflow: hidden;
}

.image_div {
	cursor: pointer;
}

.frame_div {
	overflow: hidden;
}

.image_overlay {
	display: none;
	position: fixed;
	z-index: 300;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
}

.image_overlay_descr {
	position: fixed;
	width: 264px;
	left: 0%;
	margin-top: 0;
	height: 264px;
	background-color: #fff;
	top: 0%;
	color: #000;
	z-index: 350;
	right: 0;
	display: none;
	padding: 20px;
}

.image_overlay_descr p {
	margin: auto;
	text-align: center;
}

.working_image {
	z-index: 301;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.working_frame {
	z-index: 300;
	border: 2px solid red;
	overflow: visible;
}

.main_working_frame {
	z-index: 302;
}

.frame_div.working_frame:hover {
	opacity: 1;
}

.ui-state-disabled {
	background-image: none !important;
	opacity: 1 !important;
}

.frame_image, .image_img {
	border-radius: 0 !important;
}

.installment {
	margin-bottom: 20px;
	float: left;
}
.installment a {
	display: block;
	position: relative;
	text-decoration: none!important;
	cursor: pointer;
}
.installment input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	margin: 0;
}
#rotateImage, #acceptImage {
	border: none;
	width: 100%;
	margin-bottom: 30px;
}
.image_overlay_descr  em {
	margin-bottom: 30px;
	display: block;
}
.image-loading {
	opacity:0.5;
	content:url(images/loading.gif);
	background-color:#fff;
}
#cupboard_page_complete {
	float: left;
	margin-left: 20px;
	margin-top: 0;
	border: none;
	line-height: 12px;
	padding: 23px 40px;
}

/*Corpus errors*/

.cupboard_page_complete {
	margin: auto;
	text-align: center;
	display: none;
	margin-top: 50px;
}

.corpus_error {
	text-align: center;
}

.error_complete {
	color: red;
	display: none;
    clear: both;
}

/*Corpus complete*/

#cupboard_result {
	display: none;
}

#cupboard_result p {
	margin: 0;
}

.cupboard_client_result, .cupboard_corpus_result, .cupboard_info_result, .cupboard_corners_result, .cupboard_profile_result, .cupboard_frame_result, .cupboard_cost_result, .cupboard_additional_result {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.cupboard_client_result div {
	display:inline-block;
	width:32%;
	vertical-align: top;
}

.cupboard_corpus_result img {
	max-height: 340px;
	max-width: 340px;
	margin-right: 20px;
}

.cupboard_corners_result, .cupboard_corners_result .left, .cupboard_corners_result .right, .cupboard_additional_result  {
	display: none;
}

.cupboard_corners_result .left, .cupboard_corners_result .right {
	width: 50%;
}

.cupboard_frame_result .doors_div {
	margin-right: 20px;
}

.cupboard_frame_result .frame_div:hover {
	opacity: 1;
	cursor: default;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.cupboard_additional_result p {
	display: inline-block;
	width:30%;
	margin:auto;
}

.cupboard_model_result .doors_div {
	margin-bottom: 20px;
}

.cupboard_model_result .frame_result_div {
	display: inline-block;
	vertical-align: top;
	min-width: 300px;
	margin-top:5px;
}

.cupboard_model_result canvas {
	height: 200px;
	vertical-align: top;
}

.cupboard_model_result .descr {
	max-width:180px;
	display:inline-block;
	vertical-align: top;
	margin: 0 10px;
}

#manager_underline, #contract_underline, #sign_underline {
	border-bottom: 1px solid black;
	width: 80%;
	display: inline-block;
}

#contract_underline {
	width: 30%;
}

#sign_underline {
	width: 40%;
}

#cupboard_calc_page p.success {
	display: none;
	margin: auto;
	text-align: center;
}

@media print {
	.shc, #cupboard_calc, #cupboard_print, #cupboard_send, header, .e__footer, .c__menu, .e__left, .e__right, #cupboard_back, h1,
	.header-menu-fluid, .bg-door-fluid, .footer-fluid, .mebel-list, .order-title, .cont-title-calc, .cont-title-calc + img, .menu-home-menu-container,
	.wppa-overlay-bg, .fancybox-wrap, .fancybox-overlay, .fancybox-loading, .fancybox-tmp, .modal {
		display: none !important;
	}

	#cupboard_calc_page {
		margin-top:0 !important;
		min-height: 0 !important;
	}

	html, body {
		height: 99%;
		line-height: 1;
		font-size: 12px !important;
	}

	#cupboard_result {
		display: block;
		font-size: 12px !important;
		width:99%;
	}

	#cupboard_result p {
		font-size: 12px !important;
	}



	.cupboard_client_result, .cupboard_corpus_result, .cupboard_info_result, .cupboard_corners_result, .cupboard_additional_result, .cupboard_profile_result, .cupboard_frame_result, .cupboard_cost_result {
		margin-bottom:8px;
		padding-bottom:8px;
	}

	.cupboard_corpus_result > img {
		max-width: 100px !important;
	}

	.cupboard_info_result p, .cupboard_profile_result p, .cupboard_cost_result p {
		width:50%;
		float:left;
	}

	.cupboard_info_result p:nth-child(2n), .cupboard_profile_result p:nth-child(2n), .cupboard_cost_result p:nth-child(2n) {
		float:right;
	}

	.cupboard_model_result canvas {
		height:100px;
	}

	.cupboard_model_result .descr {
		min-width:85%;
		font-size:9px;
	}

	.cupboard_model_result .frame_result_div {
		width:100%;
	}

	.cupboard_model_result .clear {
		display:none;
	}

	.cupboard_model_result .frame_result_div {
		min-width: 150px;
		margin-top: 5px;
	}

	input[type=text] {
		border: none;
		border-radius: 0;
		border-bottom: 1px solid black;
		width: 100%;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1246px) {
	.corpus_div {
		width:22%;
	}
}
@media screen and (max-width: 599px) {

	#TB_window {
		width: 100% !important;
		margin-left: -160px !important;
	}

	#TB_ajaxContent {
		width: 100% !important;
	}

	#TB_ajaxContent .image_categories {
		width: 90%;
		height: 20%;
	}

	#TB_ajaxContent .load_images {
		width: 90%;
		height: 70%;
		margin: 0;
	}

	.image_overlay_descr {
		font-size: 10px;
	}
}
body .nicescroll-cursors {
	cursor: pointer!important;

}
body .nicescroll-rails {
	opacity: 1!important;
	background: rgb(232, 232, 232);
}
#boxscroll {
	min-height: 650px;
}
.cupboard_page_laminate .btn-yellow, .cupboard_page_profile .btn-yellow,
.cupboard_page_frame .btn-yellow {
	line-height: 20px;
	margin: 20px 0px;
}
.cupboard_page_frame .scroll-img ul li img {
	width: 100%;
}
.cupboard_page_frame .scroll-img ul li {
	width: 85px;
	margin: 0px;
	padding: 3px;
}
.laminate_div .laminate_name, .cupboard_page_frame .profile_color_name, .profile_color .profile_color_name {
	font-size: 14px;
	color: #2e2e2e;
	text-align: left;
	padding-top: 10px;
	margin: 0px;
}
#cupboard_calc_page .row > .col-sm-9 > div{
	margin-bottom: 30px;
}
.ml-choose-h {
	font-size: 16px;
	font-weight: normal;
	margin: 15px 0 10px 0;
	font-style: italic;
}
.profile_color {
	width: 100%;
	display: block;
	margin-top: 100px;
	position: relative;
	height: 315px;
}
.profile_handler {
	display: block;
}
.profile_options {
	float: left;
	width: 75%;
}
.profile_color .carousel-control-left, .profile_color .carousel-control-right {
	top: 0px;
}
#carus4 {
	padding-left: 0;
	margin-left: 0;
	width: 100%;
	display: block;
}
#carus4 li {
	list-style-image: none;
}
#carus4 li input {
	opacity: 0;
}